<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button 
    class="navbar-toggler main-text" 
    type="button" 
    data-bs-toggle="collapse"  
    data-bs-target="#navbar">
        <mat-icon>menu</mat-icon>
    </button>
    <div 
    class="collapse navbar-collapse" 
    id="navbar">
        <ul class="navbar-nav nav-list">
            <ng-container *ngFor="let data of navData">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="data.path">{{data.name}}</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>