<div class="table-container">
    <table>
        <thead>
            <tr class="table-row">
                <ng-container *ngFor="let header of headers">
                    <th 
                    [ngClass]="{
                        'sticky-header':true, 
                        'p-1':true,
                        'pb-2':true, 
                        'pt-2':true,
                        'table-header':true,
                        'clickable':sortMethodLookup[header.targetProp]
                    }"
                    (click)="handleSort(header.targetProp)">
                        <div class="d-flex align-items-center">
                            <span class="table-header">
                                {{header.name}}
                            </span>
                            <span [ngClass]="{
                                'sort-icon':true,
                                'hidden':activeSortProp !== header.targetProp,
                                'sort-descending':sortDescending,
                                'sort-ascending':!sortDescending
                            }">
                                <mat-icon [inline]="false">arrow_drop_down</mat-icon>
                            </span>
                        </div>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let stats of currentPlayerStats">
                <tr
                class="table-row" 
                [app-score-row] 
                [headers]="headers"
                [stats]="stats"></tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div>
    <app-page-controls
    [items]="playerStats"
    (pageChanged)="handlePageChange($event)"></app-page-controls>
</div>